.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  .titleContainer {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 18px;
    .allEmployee {
      line-height: 3.3;
      color: #080808;
      text-decoration: underline;
    }
  }

  .titleEmployee {
    margin: 0;
    font-size: 20px;
    color: black;
  }
  .form {
    display: flex;
    margin-top: 5px;
    gap: 8px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .formGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .labelPicker {
      font-weight: bold;
      color: #000000;
    }

    .inputPicker {
      padding: 8px;
      border: 2px solid #484545;
      border-radius: 8px;
      background-color: #f9f9f9;
      box-sizing: border-box;
    }
    button {
      font-size: 16px;
      border: none;
      background-color: #6a7c2e;
      color: white;
      cursor: pointer;
      border-radius: 10px;
      transition: transform 0.2s, background-color 0.3s;
    }
    button:hover {
      background-color: #a4b358;
      transform: scale(1.05);
    }
    .save {
      margin-top: 10px;
    }
  }
}
