.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 86vh;
  .titleEmployee {
    padding: 10px;
    font-size: 20px;
    color: black;
  }
  .form {
    display: flex;
    margin-bottom: 15px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
    gap: 8px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    .rowInput {
      display: flex;
      gap: 20px;
      width: 100%;
      flex-wrap: wrap;

      > * {
        flex: 1;
        min-width: 150px;
      }
    }
    .formGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .labelPicker {
      font-weight: bold;
      color: #000000;
    }

    .inputPicker {
      padding: 8px;
      border: 2px solid #484545;
      border-radius: 8px;
      background-color: #f9f9f9;
      box-sizing: border-box;
    }
    .inputCalendar {
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .reactSelect {
      width: 100%;
    }
    .selectLabel {
      display: block;
      text-align: left;
      font-weight: bold;
      margin-bottom: 4px;
      color: #000;
    }
    button {
      font-size: 16px;
      border: none;
      background-color: #6a7c2e;
      color: white;
      cursor: pointer;
      border-radius: 10px;
      transition: transform 0.2s, background-color 0.3s;
      width: 30%;
    }
    button:hover {
      background-color: #a4b358;
      transform: scale(1.05);
    }
    .save {
      margin-top: 10px;
    }
  }
}
@media screen and (max-width: 480px) {
  .rowInput {
    flex-direction: column;
    gap: 10px;
  }
}
