.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
  h1 {
    font-size: 24px;
    line-height: 0;
  }
  .employeeList {
    text-decoration: underline;
    color: white;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    .formGroup {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }

    .labelPicker {
      font-weight: bold;
      color: #333;
    }

    .inputPicker {
      padding: 8px;
      border: 2px solid #484545;
      border-radius: 8px;
      background-color: #f9f9f9;
      box-sizing: border-box;
    }
    .formField {
      width: 100%;
      max-width: 300px;
    }
    button {
      font-size: 16px;
      border: none;
      background-color: #6a7c2e;
      color: white;
      cursor: pointer;
      border-radius: 10px;
      transition: transform 0.2s, background-color 0.3s;
    }
    button:hover {
      background-color: #a4b358;
      transform: scale(1.05);
    }
    .save {
      margin-top: 10px;
    }
  }
}
