.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #7d8f3d;
  min-height: 85vh;

  h1 {
    font-size: 28px;
    color: black;
  }
  p {
    font-size: 18px;
    color: black;
  }
  .button {
    display: flex;
    justify-content: center;
    button {
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      background-color: #6a7c2e;
      color: white;
      cursor: pointer;
      border-radius: 10px;
      transition: transform 0.2s, background-color 0.3s;
    }
    button:hover {
      background-color: #a4b358;
      transform: scale(1.05);
    }
  }
  @media screen and (max-width: 768px) {
    min-height: 88vh;
  }
}
