.inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.inputWrapper label {
  font-weight: bold;
  color: #000000;
}

.inputWrapper input,
.inputWrapper select {
  padding: 7px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}
