.employeeList {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden;
  h1 {
    font-size: 25px;
    color: Black;
  }
  .headerEmployee {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;
    font-weight: 700;
    margin: 10px;
    color: #343b1d;
    .showSelect {
      display: flex;
      align-items: center;
      gap: 5px;
      .selectShow {
        padding: 2px;
        border-radius: 5px;
      }
    }
    .search {
      display: flex;
      gap: 5px;
      input {
        border-radius: 8px;
      }
    }
  }
  .employee {
    margin: 20px;
    color: black;
    text-decoration: underline;
  }

  table {
    width: 80%;
    min-width: unset;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 8px 15px;
    border: 1px solid #ccc;
    text-align: left;
    color: #4a5230;
    background-color: #d9d8d8;
  }

  th {
    color: #343b1d;
    background-color: #f4f4f4;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    gap: 10px;
    width: 80%;
    button {
      background-color: transparent;
      &:hover {
        border: 1px solid black;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    tr {
      font-size: 10px;
    }
  }
  @media screen and (max-width: 768px) {
    .search {
      font-size: 12px;
      input {
        width: 40%;
        border-radius: 8px;
      }
    }

    table {
      width: 100%;
      font-size: 12px;
    }
    th,
    td {
      font-size: 5px;
      padding: 4px 5px;
    }
  }
}
