.inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.inputWrapper label {
  font-weight: bold;
  color: #333;
}

.inputWrapper input,
.inputWrapper select {
  padding: 7px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 75%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  border: 2px solid #484545;
}
